/* ------------------- Import Google Fonts */

/* Import Lato fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

section {
  margin-top: 40px;
  margin-left: 25%;
  width: 30%;
}

section h1 {
  font-weight: bolder;
  font-size: 40px;
  font-style: bolder;
}

.input-class {
  margin: 7px;
  font-size: 20px;
}

.add-btn {
  margin: 7px;
  width: 50px;
  font-weight: bold;
}

.book-title,
.book-author {
  margin: 7px;
  font-weight: bold;
}

.card-remove-button {
  font-weight: bold;
  margin: 7px;
  width: 80px;
}

#line {
  border-bottom: 1px solid gray;
  margin-left: 7px;
  margin-bottom: 10px;
}
