/* ------------------- Import Google Fonts */

/* Import Lato fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

section {
  margin-top: 40px;
  margin-left: 25%;
  width: 30%;
}

section h1 {
  font-weight: bolder;
  font-size: 40px;
  font-style: bolder;
}

.input-class {
  margin: 7px;
  font-size: 20px;
}

.add-btn {
  margin: 7px;
  width: 50px;
  font-weight: bold;
}

.book-title,
.book-author {
  margin: 7px;
  font-weight: bold;
}

.card-remove-button {
  font-weight: bold;
  margin: 7px;
  width: 80px;
}

#line {
  border-bottom: 1px solid gray;
  margin-left: 7px;
  margin-bottom: 10px;
}

/* Books cards styling
.book-card {
  font-family: "lato", sans-serif;
  margin: 7px;
  padding: 7px;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 400px;
}

.book-title {
  font-size: 20px;
  font-style: bolder;
  border: solid 2px yellowgreen;
  border-radius: .5em;
  padding: .5em;
  width: fit-content;
}

.book-author {
  font-size: 20px;
  font-style: italic;
  border: solid 2px yellowgreen;
  border-radius: .5em;
  padding: .5em;
  width: fit-content;
}

.card-remove-button {
  align-self: center;
  font-size: 20px;
  border: solid 2px red;
  background-color: #ffc2c2;
  border-radius: .5em;
  padding: .5em;
  width: fit-content;
} */
